@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;

/* remove menu icon 780px(medium-screen) */

header {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: min(100%, f.rem(1440));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: f.rem(32) 5%;
    margin-inline: auto;
}

.hamburger-menu,
.close-menu {
    width: 25px;
    cursor: pointer;

    img {
        width: 100%;
    }

    @include bp.breakpointMin(medium-screen) {
        display: none;
    }
}

nav {
    /* remove later */
    /* display: none; */
    
    display: flex;
    align-items: center;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--black);
    padding: f.rem(32) 5%;
    height: 100vh;
    transform: translateX(-200%);
    transition: .3s;

    .nav-logo {
        position: absolute;
        top: 5%;
        left: 5%
    }

    .close-menu {
        position: absolute;
        top: 5%;
        right: 5%;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        gap: f.rem(32);
        font-family: 'Josefin Sans', serif;

        li {
            a {
                font-size: f.rem(24);
                color: var(--white);
                letter-spacing: 1px;
            }
        }
    }

    @include bp.breakpointMin(medium-screen) {
        position: unset;
        left: unset;
        top: unset;
        right: unset;
        transform: translateX(0);
        background-color: unset;
        height: unset;
        padding: 0;

        ul {
            text-transform: capitalize;
            font-family: 'Alata', sans-serif;
            flex-direction: row;
            gap: f.rem(12);

            li {
                a {
                    font-size: f.rem(18);
                    letter-spacing: 0;
                }
            }
        }

        .nav-logo {
            display: none;
        }
    }

    @include bp.breakpointMin(large-screen) {
        ul {
            gap: f.rem(16);
        }
    }
}

.toggle-nav {
    transform: translateX(0);
    transition: .3s;
}